#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(238, 119, 59);
}

.app {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  width: 200px;
  outline: none;
}

button:hover {
  border-color: white;
}

button img {
  width: 100%;
  outline: none;
}

.card-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.scoreboard {
  margin-bottom: 40px;
}